<!-- <div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Tools</h3>
          <ul>
            <li><a href="#">Sentiment Analysis</a></li>
            <li><a href="#">Hate Detection</a></li>
            <li><a href="#">Live Alerts</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Our Mission</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>HateSense AI</h3>
          <p>We use machine learning to detect hate speech and analyze sentiments in real-time to build safer digital spaces.</p>
        </div>
        <div class="col item social">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-x-twitter"></i></a>
        </div>
      </div>
      <p class="copyright">Made with ❤️ by Amaan Shaikh © 2025 HateSenseAI</p>
    </div>
  </footer>
</div> -->
